<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <log4net>
        <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
            <layout type="log4net.Layout.PatternLayout">
                <!--<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />-->
                <converter>
                    <name value="trace_id" />
                    <type value="Application.Logging.TraceIdPatternConverter" />
                </converter>
                <converter>
                    <name value="span_id" />
                    <type value="Application.Logging.SpanIdPatternConverter" />
                </converter>
                <converter>
                    <name value="parent_span_id" />
                    <type value="Application.Logging.ParentSpanIdPatternConverter" />
                </converter>
                <conversionPattern value="%date %level %logger trace_id:%trace_id span_id:%span_id parent_span_id:%parent_span_id - %message%newline" />
            </layout>
        </appender>
        <root>
            <level value="INFO" />
            <appender-ref ref="ConsoleAppender" />
        </root>
    </log4net>
</configuration>
